<div *ngIf="isLoggedIn">
    Welcome, user!
</div>

<div *ngIf="!isLoggedIn">
    Please log in.
</div>


<div *ngIf="condition">Content to render when condition is true.</div>
<ng-template [ngIf]="condition">
    <div>
        Content to render when condition is true using template.
    </div>
</ng-template>

<div *ngIf="condition; else elseBlock">Content to render when condition is true using thenBlock.</div>
<ng-template #elseBlock>Content to render when condition is flase using elseBlock. </ng-template>

<ul>
    <li *ngFor="let fruit of fruits"> {{ fruit }}</li>
</ul>